body{
  background-color: #f5f5f5;
  padding: 100px;
}
.well{
  background-color: white;
}

input.ng-invalid {
    background-color: pink;
}
input.ng-valid {
}

h4 {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: center;
    padding-top: 20px;
}
