<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Register for an account</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>

        <link rel="stylesheet" href="/css/account.css" media="screen">
        <script src="/js/toolset.js"></script>

    </head>
    <!-- Body -->

    <body>
        <div class="container" ng-app='Reg' ng-controller='RegView'>

            <div class="row">
                <div class="col-md-1 col-md-offset-5">
                    <img class="img-responsive" src="images/icon.png" alt="icon"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-md-offset-4">
                    <h4>Account Registration</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-md-offset-4">
                    <form class='well' ng-submit='signup()'>

                        <div class="form-group">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-envelope"></i>
                                    </span>
                                    <input type="email" name="email" ng-model='user.email' class="form-control" placeholder='Email' required>
                                </div>
                            </div>
                        </div>

                        <!-- UserName Field -->
                        <div class="form-group">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                    <input type="text" name="user_name" ng-model='user.user_name' class="form-control" placeholder='Username' required>
                                </div>
                            </div>
                        </div>
                        <!-- Password Field -->
                        <div class="form-group">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
                                    </span>
                                    <input type="password" name="pass_word" class="form-control" ng-model='user.pass_word' placeholder='Password' required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
                                    </span>
                                    <input type="password" class="form-control" ng-model='passcheck' placeholder='Password'>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-danger text-center" if='rw-missmatch' role="alert" hidden>
                            <strong>Oh snap!</strong><br>
                            Password mismatch!
                        </div>

                        <p style="text-align:center;">
                            Already have an account?
                            <a href="login">login</a>.</p>

                        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>

                    </form>
                </div>
            </div>

        </div>
        <!-- Form validation js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script type="text/javascript">
            var app = angular.module('Reg', []);
            app.controller('RegView', function($scope, $http) {
                // create a blank object to handle form data.
                $scope.signup = function(user) {
                    //End login
                    if ($scope.user.pass_word != $scope.passcheck){
                        $('#rw-missmatch').show();

                    }else{
                      $http.post('/register', $scope.user).then(function(response) {
                          changeLocation($scope, '/login', true);
                      }, function(response) {});
                    }
                }
            });
        </script>

    </body>
</html>
